:root {
    --negro: black;
    --gris: rgb(71, 71, 71);
}

.foto {
    background-image: url("/img/main/home-ramen.jpg");
    height: 70rem;
}
input[type="date"] {
    position: relative;
}

/* create a new arrow, because we are going to mess up the native one
see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
input[type="date"]:after {
    content: "\25BC"; 
    color: #555;
    padding: 0 5px;
}

/* change color of symbol on hover */
input[type="date"]:hover:after {
    color: #bf1400;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}
.border-2 {
    border: 0px solid #e2e8f0 !important;
}
.resev {
    background-color: #1f2329;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.botones {
    background-color: #1f2329 !important;
}
#horasDisponiblesText {
    display: none;
}
.resev:hover {
    background-color: #bf1300a8;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.3s ease all;
}
/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}

/* adjust clear button */
input[type="date"]::-webkit-clear-button {
    z-index: 1;
}
::-webkit-scrollbar {
    display: none;
}

.rightContainerFoto {
    background-image: url("/img/main/ramen.jpg");
}

.leftContainerFoto {
    background-image: url("/img/main/fondo_menu2.jpg");
}

.rightContainerFoto,
.leftContainerFoto,
.foto {
    background-position-x: center;
    background-size: cover;
   
}
.foto {
    background-position-y: center;
}

.rightContainerMenu,
.leftContainerMenu,
.rightContainerFoto,
.leftContainerFoto {
    width: 50vw;
    height: 70vh;
}

.rightContainerMenu,
.leftContainerMenu {
    background-image: url("/img/main/branding.jpg");
}
.tituloMenu {
    font-weight: 600;
}
.subtituloMenu {
    font-weight: 500;
    color: var(--gris);
    font-style: italic;
}
