* {
    list-style: none;
}

:root {
    --blanco: white;
}

header {
    background-image: url("/img/footer/footer.jpg");
    color: var(--blanco);
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.7rem;
}

.ch2 {
    display: none;
    margin-right: 1rem;
}

.desplegable {
    display: none;
}

.fotoHeader {
    width: 15vw;
}

.menus {
    list-style: none;
    margin-bottom: 0rem;
}

.containerLeft {
    width: 45vw;
}

.containerRight {
    width: 45vw;
}

.hover {
    color: inherit;
    color: var(--blanco);
    
}
.ch5 {
    display: none;
}
.hover {
    color: inherit;
    color: var(--blanco);
    text-decoration: none;
    font-weight: 400;
}
.hover:hover {
    color: inherit;
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease all;
}

.desplegable {
    width: 10vw;
}
.formdata {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
@media (max-width: 700px) {
    
    .containerRight {
        display: none;
    }
    #fotoHeaderID {
        width: 2125px !important;
    }
    .desplegable {
        display: initial;
    }
    .formdata {
        display: block !important;
        margin-top: 0.5 !important;
        margin-bottom: 0.5 !important;
    }
    .icon {
        cursor: pointer;
    }

    .containerLeft {
        text-align: left;
        padding-left: 1rem;
    }
    
    .fotoHeader {
       display: none;
    }
    .containerHeader {
        width: 10vw;

    }

    ul {
        flex-direction: column;
        text-align: center;
    }

    li {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .ch2 {
        display: initial;
    }
    #ch:checked~.containerRight {
        display: block;
        flex-direction: column;
        left: 0;
        position: absolute;
        top: 5rem;
        width: 100vw;
        font-size: 1rem;
        background-image: url("/img/footer/footer.jpg");
    }
    .fotoContacto {
        display: none;
    }
    #imgLogoReserva {
        display: none;
    }
    .contactDiv {
        display: block;
    }
    .botonContacto {
        width: 100%;
    }
}
/* Responsive fullcalendar */
@media screen and (max-width: 800px) {
    #calendar {
        width: 100% !important;
    }
}
@media screen and (min-width: 800px) {
    #calendar {
        width: 100% !important;
    }
}

/* Responsive fullcalendar */
@media screen and (max-width: 800px) {
    #calendar {
        width: 100% !important;
    }
}
@media screen and (min-width: 800px) {
    #calendar {
        width: 100% !important;
    }
}

/* Responsive fullcalendar */
@media screen and (max-width: 800px) {
    #calendar {
        width: 100% !important;
    }
}
@media screen and (min-width: 800px) {
    #calendar {
        width: 100% !important;
    }
}

/* Responsive fullcalendar */
@media screen and (max-width: 800px) {
    #calendar {
        width: 100% !important;
    }
}
@media screen and (min-width: 800px) {
    #calendar {
        width: 100% !important;
    }
}

/* Responsive fullcalendar */
@media screen and (max-width: 800px) {
    #calendar {
        width: 100% !important;
    }
}
@media screen and (min-width: 800px) {
    #calendar {
        width: 100% !important;
    }
}

/* Responsive fullcalendar */
@media screen and (max-width: 800px) {
    #calendar {
        width: 100% !important;
    }
}
@media screen and (min-width: 800px) {
    #calendar {
        width: 100% !important;
    }
}

/* Responsive fullcalendar */
@media screen and (max-width: 800px) {
    #calendar {
        width: 100% !important;
    }
}
@media screen and (min-width: 800px) {
    #calendar {
        width: 100% !important;
    }
}

/* Responsive fullcalendar */
@media screen and (max-width: 800px) {
    #calendar {
        width: 100% !important;
    }
}
@media screen and (min-width: 800px) {
    #calendar {
        width: 100% !important;
    }
}
.fc-event-title-container {
    background-color: #FFC107 !important;
}
