// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@tailwind base;
@tailwind components;
@tailwind utilities;

// Bootstrap
@import 'bootstrap/scss/bootstrap';
.fc-event {
    cursor: pointer;
}

.rightContainerFoto,.leftContainerFoto {
    animation-name: foto ;
    animation-duration: 3s;  
    animation-delay: 2s;
    animation-fill-mode: both;
}

@keyframes foto {
    0% {
        opacity: 100%;
    }
    40% {
        opacity: 80%;
    }
    50% {
        rotate: 360deg;
        transition: all 0.5s ease-in-out;
        opacity: 50%;
    }
    60% {
        opacity: 80%;
    }
    100% {
        opacity: 100%;
    }
}

@import 'app2';



